.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 40px 80px;
}

.tableWrapper {
  max-width: 100%;
  overflow-x: scroll;
}

.table {
 
  border-collapse: collapse;
  /* border: 1px solid black; */
}



.th, .td {
  min-width: 140px;
  &:first-child {
    min-width: 400px;
  }
}

.th {
  border: 1px solid black;
  padding: 0 10px;
  height: 32px;
  text-align: left;
}

.periodTh {
  padding-left: 0;
  padding-right: 0;
}

.td {
  border: 1px solid black;
  padding: 0;
  height: 24px;
}

.input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 0px;
  padding: 0 12px;
  background-color: rgba(255, 191, 0, 0.12);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chartWrapper {
  margin-bottom: 32px;
  padding-bottom: 12px;
}

.select {
  margin-left: 8px;
}

.buttons {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
}

.button {
  padding: 10px 32px;
}